{% extends 'base.html.twig' %}

{% block title %}Ajout d'une transaction{% endblock %}

{% block body %}
    <div class="row  valign-wrapper">
        <div class="col s12 center-align">
            <h3>Ajout d'une transaction</h3>
        </div>
    </div>

    <div class="row">
        {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.valeur) }}

        <div class="row">
            {{ form_label(form.depense) }}
        </div>
        <div class="row">
            {{ form_label(form.surcompte) }}
        </div>

        {{ form_row(form._token) }}

        <button class="btn waves-effect waves-light indigo" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}

