{% extends 'base.html.twig' %}

{% block title %}Hello MoisController!{% endblock %}

{% block body %}
    <div class="row  valign-wrapper">
		<div class="col s12 center-align">
            <h3>Tous les mois</h3>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card-panel blue-grey darken-1">
                <div class="white-text center-align">
                    <a class="waves-effect waves-light btn green" href="{{ path('mois#new') }}"><i class="material-icons left">add</i>Mois</a>
                </div>
            </div>
        </div>

        <div class="col s12">
            <ul class="collection">
                {% for mois in moiss %}
                <li class="collection-item avatar">
                    <span class="title">{{ mois.nom }}</span>
                    <p>{{ mois.solde |format_currency('EUR')}}<br>
                        dernière modification : {{ mois.updatedAt | date("d/m/Y") }}
                    </p>
                    <a class="btn-floating btn-small waves-effect waves-light red secondary-content" href="{{ path('mois#show', {'id' : mois.id }) }}"><i class="material-icons">edit</i></a>
                    <form method="post" action="{{ path('mois#delMois', {id: mois.id}) }}" onsubmit="return confirm('Êtes vous vraiment sur ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mois.id) }}">
                        <button class="btn-floating btn-small waves-effect waves-light red tertiary-content"><i class="material-icons">delete</i></button>
                    </form>
                </li>
                {%  endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
