{% extends 'base.html.twig' %}

{% block title %}Les mois{% endblock %}

{% block body %}
    <!-- Stats -->
    <div class="section mt-4">
        <div class="section-heading flex-justify-content">
            <h2 class="title">Recherche</h2>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="stat-box">
                    {% form_theme form 'bootstrap_5_layout.html.twig' %}
                    <div class="row">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- * Stats -->

    <!-- Transactions -->
    <div class="section mt-4">
        <div class="section-heading">
            <h2 class="title">Tous les mois</h2>
            <a href="{{ path('mois#new') }}" class="btn btn-icon btn-primary">
                <i class="bi bi-plus-lg"></i>
            </a>
        </div>
        <div class="transactions">
            {% if isSearch %}
                {% for mois in moiss %}
                    <!-- item -->
                    <a href="{{ path('mois#show', {'id' : mois.id})}}" class="item">
                        <div class="detail">
                            <div>
                                <strong>{{ mois.nom }}</strong>
                                <p>
                                    {{ mois.updatedAt | date("d/m/Y") }}
                                </p>
                            </div>
                        </div>
                        <div class="right">
                            <div class="price {% if mois.soldNegatif %}text-danger{% endif %}">{{ mois.solde |format_currency('EUR')}}</div>
                        </div>
                    </a>
                    <!-- * item -->
                    {% for transaction in mois.transactions %}
                        <!-- item -->
                        <a href="{{ path('mois#editTransaction', {'id' : transaction.id})}}" class="item" style="margin-left: 2rem">
                            <div class="detail">
                                <img src="{{ asset('img/sample/brand/') }}{{ transaction.logo.fichier }}" alt="img" class="image-block imaged w48">
                                <div>
                                    <strong>{{ transaction.nom }}</strong>
                                    <strong>
                                        <i class="icon bi bi-wallet2 {% if transaction.surcompte %}text-success{% else %}text-danger{% endif %}"></i>
                                        <i class="icon text-warning bi {% if transaction.recurrent %}bi-star-fill{% else %}bi-star{% endif %}"></i>
                                    </strong>
                                    <p>
                                        {{ transaction.createdAt | date("d/m/Y") }}
                                    </p>
                                    {% if transaction.endAt is not null %}
                                        <p>
                                            Fin le {{ transaction.endAt }}
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="right">
                                <div class="price {% if transaction.depense %}text-danger{% endif %}">{% if transaction.depense %}- {% else %}+ {% endif %}{{ transaction.valeur |format_currency('EUR')}}</div>
                            </div>
                        </a>
                        <!-- * item -->
                    {%  endfor %}
                {%  endfor %}
            {% else %}
                {% for mois in moiss %}
                    <!-- item -->
                    <a href="{{ path('mois#show', {'id' : mois.id})}}" class="item">
                        <div class="detail">
                            <div>
                                <strong>{{ mois.nom }}</strong>
                                <p>
                                    {{ mois.updatedAt | date("d/m/Y") }}
                                </p>
                            </div>
                        </div>
                        <div class="right">
                            <div class="price {% if mois.soldNegatif %}text-danger{% endif %}">{{ mois.solde |format_currency('EUR')}}</div>
                        </div>
                    </a>
                    <!-- * item -->
                {%  endfor %}
            {% endif %}
        </div>
    </div>
    <!-- * Transactions -->
{% endblock %}
