{% extends 'base.html.twig' %}

{% block title %}{{mois.nom}}{% endblock %}

{% block body %}
    <div class="row  valign-wrapper">
		<div class="col s12 center-align">
            <h3>{{mois.nom}}</h3>
        </div>
    </div>

    <div class="row">
		<div class="col s6">
            <div class="card-panel blue-grey darken-1">
                <div class="white-text center-align">
                    <h5>Solde fin du mois</h5>
                    <p>{{ mois.solde |format_currency('EUR')}}</p>
                </div>
            </div>
		</div>
		<div class="col s6">
            <div class="card-panel blue-grey darken-1">
                <div class="white-text center-align">
                    <h5>Solde sur le compte</h5>
                    <p>{{mois.soldesurcompte |format_currency('EUR')}}</p>
                </div>
            </div>
        </div>

        <div class="col s12">
            <div class="card-panel blue-grey darken-1">
                <div class="white-text center-align">
                    <div class="row">
                        <div class="col s12">
                            <p class="left">Nombre de dépense à venir: {{mois.nombredepenseavenir}}</p>
                        </div>
                        <div class="col s12">
                            <p class="left">Dépense total: {{mois.depensetotal |format_currency('EUR')}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12">
            <div class="card-panel blue-grey darken-1">
                <div class="white-text center-align">
                    <a class="waves-effect waves-light btn green" href="{{ path('mois#newTransaction', {'id' : mois.id}) }}"><i class="material-icons left">add</i>Transaction</a>
                    <a class="waves-effect waves-light btn red" href="{{ path('mois#edit', {'id' : mois.id}) }}"><i class="material-icons left">edit</i>Nom du mois</a>
                </div>
            </div>
        </div>

        <div class="col s12">
            <div class="card-panel blue-grey darken-1">
                {% form_theme form 'materialize_form_theme_2.html.twig' %}
                <div class="row">
                    {{ form_start(form) }}
                    {{ form_rest(form) }}
                    <div class="input-field col s6">
                        <button class="btn waves-effect waves-light indigo" type="submit">Rechercher
                            <i class="material-icons right">search</i>
                        </button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <ul class="collection">
                {% for transaction in transactions %}
                <li class="collection-item avatar {% if transaction.depense %}red-text{% else %}green-text{% endif %}">
                    <span class="title">{{ transaction.nom }}</span>
                    <p>{{ transaction.valeur |format_currency('EUR')}}<br>
                        Sur Compte: <i class="material-icons" style="vertical-align: top;">{% if transaction.surcompte %}check{% else %}close{% endif %}</i>
                    </p>
                    <a class="btn-floating btn-small waves-effect waves-light red secondary-content" href="{{ path('mois#editTransaction', {'id' : transaction.id})}}"><i class="material-icons">edit</i></a>
                    <form method="post" action="{{ path('mois#delTransaction', {id: transaction.id}) }}" onsubmit="return confirm('Êtes vous vraiment sur ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transaction.id) }}">
                        <button class="btn-floating btn-small waves-effect waves-light red tertiary-content"><i class="material-icons">delete</i></button>
                    </form>
                </li>
                {%  endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
