{% extends 'base.html.twig' %}

{% block title %}{{mois.nom}}{% endblock %}

{% block body %}
    <div class="section wallet-card-section pt-1">
        <div class="section-heading mt-2">
            <h2 class="title z-index text-light ms-auto me-auto p-0">{{ mois.nom }}</h2>
            <div class="z-index">
                <a href="{{ path('mois#edit', {'id' : mois.id}) }}" class="btn btn-icon btn-light text-light me-1">
                    <ion-icon name="create-outline"></ion-icon>
                </a>
                <form style="display: inline;" method="post" action="{{ path('mois#delMois', {id: mois.id}) }}" onsubmit="return confirm('Êtes vous vraiment sur ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mois.id) }}">
                    <button class="btn btn-icon btn-light text-light"><ion-icon name="trash-outline"></ion-icon></button>
                </form>
            </div>

        </div>
        <div class="wallet-card">
            <!-- Balance -->
            <div class="balance">
                <div class="left">
                    <span class="title">Sur le compte</span>
                    <h1 class="total">{{ mois.soldeSurCompte }} €</h1>
                </div>
                <div class="right">
                    <a href="{{ path('mois#newTransaction', {'id' : mois.id}) }}" class="button">
                        <ion-icon name="add-outline"></ion-icon>
                    </a>
                </div>
            </div>
            <!-- * Balance -->
            <div class="balance border-top">
                <div class="left">
                    <span class="title">Fin du mois</span>
                    <h1 class="total">{{ mois.solde }} €</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Wallet Card -->

    <!-- Stats -->
    <div class="section">
        <div class="row mt-2">
            <div class="col-6">
                <div class="stat-box">
                    <div class="title">Revenus</div>
                    <div class="value text-success">{{ mois.revenuTotal }} €</div>
                </div>
            </div>
            <div class="col-6">
                <div class="stat-box">
                    <div class="title">Dépenses</div>
                    <div class="value text-danger">{{ mois.depenseTotal }} €</div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="stat-box">
                    <div class="title">Recherche</div>
                    {% form_theme form 'bootstrap_5_layout.html.twig' %}
                    <div class="row">
                        {{ form_start(form) }}

                        {{ form_row(form.motsName) }}

                        {{ form_row(form.price) }}

                        <div class="mb-3 mt-3">
                            {{ form_row(form.depense) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.revenu) }}
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- * Stats -->

    <!-- Transactions -->
    <div class="section mt-4">
        <div class="section-heading">
            <h2 class="title">Transactions</h2>
            <p class="link">( {{ mois.nombreDepenseAVenir }} / {{ mois.nombreDepenseTotal }} )</p>
        </div>
        <div class="transactions">
            {% for transaction in transactions %}
            <!-- item -->
            <a href="{{ path('mois#editTransaction', {'id' : transaction.id})}}" class="item">
                <div class="detail">
                    <img src="{{ asset('img/sample/brand/') }}{{ transaction.logo.fichier }}" alt="img" class="image-block imaged w48">
                    <div>
                        <strong>{{ transaction.nom }}</strong>
                        <strong>
                            <ion-icon class="icon {% if transaction.surcompte %}text-success{% else %}text-danger{% endif %}" name="{% if transaction.surcompte %}wallet{% else %}wallet-outline{% endif %}"></ion-icon>
                            <ion-icon class="icon text-warning" name="{% if transaction.recurrent %}star{% else %}star-outline{% endif %}"></ion-icon>
                        </strong>
                        <p>
                            {{ transaction.createdAt | date("d/m/Y") }}
                        </p>
                        {% if transaction.endAt is not null %}
                        <p>
                           Fin le {{ transaction.endAt }}
                        </p>
                        {% endif %}
                    </div>
                </div>
                <div class="right">
                    <div class="price {% if transaction.depense %}text-danger{% endif %}">{% if transaction.depense %}- {% else %}+ {% endif %}{{ transaction.valeur |format_currency('EUR')}}</div>
                </div>
            </a>
            <!-- * item -->
            {%  endfor %}
        </div>
    </div>
    <!-- * Transactions -->

{% endblock %}
