<nav class="indigo">
	<div class="nav-wrapper">
		<a href="{{ path("home") }}" class="brand-logo center">CalculeCompte</a>
		<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		<ul id="nav-mobile" class="left hide-on-med-and-down">
			<li>
				<a href="{{ path("home") }}">Accueil</a>
			</li>
			<li>
				<a href="{{ path('mois#index') }}">Les Mois</a>
			</li>
		</ul>
	</div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="{{ path("home") }}">Accueil</a></li>
    <li><a href="{{ path('mois#index') }}">Les Mois</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
</ul>