<!-- App Sidebar -->
<div class="modal fade panelbox panelbox-left" id="sidebarPanel" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body p-0">
				{% if app.user %}
				<!-- profile box -->
				<div class="profileBox pt-2 pb-2">
					<div class="image-wrapper">
						<img src="{{ asset('img/sample/avatar/avatar1.jpg') }}" alt="image" class="imaged  w36">
					</div>
					<div class="in">
						<strong>{{ app.user.username }}</strong>
						<div class="text-muted"><!-- email --></div>
					</div>
					<a href="#" class="btn btn-link btn-icon sidebar-close" data-bs-dismiss="modal">
						<i class="bi bi-x-lg"></i>
					</a>
				</div>
				<!-- * profile box -->
				{% endif %}

				<!-- menu -->
				<div class="listview-title mt-1">Menu</div>
				<ul class="listview flush transparent no-line image-listview">
					{% if app.user %}
					<li>
						<a href="{{ path('mois#index') }}" class="item">
							<div class="icon-box bg-primary">
								<i class="bi bi-wallet2"></i>
							</div>
							<div class="in">
								Les mois
							</div>
						</a>
					</li>
						{% if is_granted('ROLE_ADMIN') %}
							<li>
								<a href="{{ path('admin') }}" class="item">
									<div class="icon-box bg-primary">
										<i class="bi bi-hammer"></i>
									</div>
									<div class="in">
										Administration
									</div>
								</a>
							</li>
						{%  endif %}
					<li>
						<a href="{{ path('deconnexion') }}" class="item">
							<div class="icon-box bg-primary">
								<i class="bi bi-box-arrow-right"></i>
							</div>
							<div class="in">
								Log out
							</div>
						</a>
					</li>
					{% else %}
						<li>
							<a href="{{ path('home') }}" class="item">
								<div class="icon-box bg-primary">
									<i class="bi bi-house-door"></i>
								</div>
								<div class="in">
									Accueil
								</div>
							</a>
						</li>
						<li>
							<a href="{{ path('connexion') }}" class="item">
								<div class="icon-box bg-primary">
									<i class="bi bi-person"></i>
								</div>
								<div class="in">
									Se connecter
								</div>
							</a>
						</li>
						<li>
							<a href="{{ path('inscription') }}" class="item">
								<div class="icon-box bg-primary">
									<i class="bi bi-person-add"></i>
								</div>
								<div class="in">
									Inscription
								</div>
							</a>
						</li>
					{% endif %}
				</ul>
				<!-- * menu -->

				<!-- settings -->
				<div class="listview-title mt-1">Option</div>
				<ul class="listview flush transparent no-line image-listview">
					<li>
						<div class="item">
							<div class="icon-box bg-primary">
								<i class="bi bi-moon"></i>
							</div>
							<div class="in">
								<div>Dark Mode</div>
								<div class="form-check form-switch  ms-2">
									<input class="form-check-input dark-mode-switch" type="checkbox" id="darkmodeSwitch">
									<label class="form-check-label" for="darkmodeSwitch"></label>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<!-- * settings -->

			</div>
		</div>
	</div>
</div>
<!-- * App Sidebar -->